<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "{% static 'images/icon.jpg' %}" rel="icon" type="image/jpg">

		<!--stylesheets-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% if user.is_authenticated %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/base-user.css' %}">
		{% endif %}

		{% block style_block %}
		{% endblock %}

		<!--title-->
		<title>
			SweetBook -
			{% block title_block %}
			{% endblock %}
		</title>

	</head>

	<body>
		<!--logo picture with login, sign in and log out buttons-->
		<div>
			<a href="{% url 'sweetbook:home' %}"><img id="logo" src="{% static 'images/logo.jpg' %}" alt="Logo of Web" /></a>
			<div id="topbarright">
				{% if user.is_authenticated %}
					<p>
						Hello {{user}}
            			<button onclick="visitPage('{% url 'auth_logout' %}');">Log out</button>
					</p>
				{% else %}
					<p id="or">
						<button onclick="visitPage('{% url 'registration_register' %}');">Sign up</button>
						OR
						<button onclick="visitPage('{% url 'auth_login' %}');">Log in</button>
					</p>
				{% endif %}
			</div>
		</div>

		<!--menu buttons-->
		<div id="menu">
			<button onclick="visitPage('{% url 'sweetbook:home' %}');">Home</button>
			<button onclick="visitPage('{% url 'sweetbook:recipes' %}');">Recipes</button>
			<button onclick="visitPage('{% url 'sweetbook:events' %}');">Events</button>
			<button onclick="visitPage('{% url 'sweetbook:contactus' %}');">Contact us</button>
			{% if user.is_authenticated %}
				<button onclick="visitPage('{% url 'sweetbook:myaccount' %}');">My Account</button>
			{% endif %}
		</div>

		{% block body_block %}
		{% endblock %}

		<!--copyrights line-->
		<p id="rights">Team D ©Copyrights 2019, All rights Reserved </p>

		<!--scripts-->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script src="{% static "js/jquery.js" %}"></script>
    	<script src="{% static "js/sweetbook-ajax.js" %}"></script>
		<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
		{% block script_block%}
		{% endblock %}
	</body>
</html>
