<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="utf-8"/>
		<link href = "{% static 'images/icon.jpg' %}" rel="icon" type="image/jpg">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% block style_block %}
		{% endblock %}
		<title>
			{% block title_block %}
				SweetBook
			{% endblock %}
		</title>
	</head>

	<body>
		<div id="topbar">
			<img id="logo" src="{% static 'images/logo.jpg' %}" alt="Logo of Web" />
			<div id="topbarright">
				{% if user.is_authenticated %}
					<p>
						Hello {{user}}
            			<button onclick="visitPage('logout');">Log out</button>
					</p>
				{% else %}
					<p id="or">
						<button onclick="visitPage('signup');">Sign up</button>
						OR
						<button onclick="visitPage('log-in');">Log in</button>
					</p>
				{% endif %}
			</div>
		</div>

		<div id="menu">
			<button onclick="visitPage('home');">Home</button>
			<button onclick="visitPage('recipes');">Recipes</button>
			<button onclick="visitPage('events');">Events</button>
			<button onclick="visitPage('contactus');">Contact us</button>

		</div>
		{% block body_block %}
		{% endblock %}
		<p id="rights">Team D ©Copyrights 2019, All rights Reserved </p>

		<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
		{% block script_block%}
		{% endblock %}
	</body>
</html>
