{% extends 'sweetbook/base.html' %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
{% endblock %}

<!--image-->
{% block title_block %}
	Contact us
{% endblock %}

{% block body_block %}
	<div id="main-box" class="orange-container hundred-width">
		<img src="{% static 'images/team.jpg' %}" class="black-container">
		<!--text box-->
		<div class="orange-container">
			We are a team of 4 developers and baking lovers, who created this web application.The aim of our application is to create a community for baking enthusiasts – people who have a sweet tooth and would like to
			share their ideas with others. <br><br>
			Team D: 
			<ul>
				<li>Elena</li>
				<li>Lucia</li>
				<li>Michael</li>
				<li>Zuzanna</li>
			</ul>
			Contact us via: <a href="https://github.com/princesszet/sweetbook_project"> GitHub</a> 
		</div>
	</div>
{% endblock %}