{% extends 'sweetbook/base.html' %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock %}

{% block body_block %}
	{% if events %}
		{% for event in events %}
			<div class="container">
				<!--Taken from web page https://www.embedgooglemap.co.uk/#!-->
				<iframe class="googleMap" src={{event.url}} frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a href="https://themesort.com/category/agency-themes">themes here</a></div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:440px;width:100%;'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>

				<p class="content">
					<span class="content-header">{{event.name}}</span><br><br>
					<img class="cooks-image" src="{% static 'images/cooks.jpg' %}">
					<b>Date: </b>{{event.date}}<br>
					<b>Place: </b>{{event.place}}<br>
					<b>Postcode: </b>{{event.postcode}}<br><br>
					<b>Description: </b>{{event.description | truncatechars:50}} <a href="{% url 'sweetbook:chosen_event' event.event_slug %}">See more</a>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<div id="no-events">No events to be shown.</div>
	{% endif %}
{% endblock %}

{% block script_block %}
{% endblock %}