{% extends 'sweetbook/base.html' %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

<!--title-->
{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<!--Search form-->
	<div id="visits" class="orange-container">
		Visits of the page: {{visits}}
	</div>

	<!--Header of top rated-->
	<p id="topratedhead" class="orange-container">Top rated <span id="stars">★★★★★</span></p>

	<!--Taken from page: http://www.optimalmatching.com/MATCHUP2019/-->
	<!--Slideshow-->
    <div id="myCarousel" class="carousel slide orange-container" data-ride="carousel">
    	{% if toprated %}
	        <!-- Carousel indicators -->
	        <ol class="carousel-indicators">
	        	{% for recipe in toprated %}
	        		{% if forloop.first %}
	        			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        		{% else %}
	        			<li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
	        		{% endif %}
	            {% endfor %}
	        </ol>

	        <!-- Wrapper for carousel items -->
	        <div class="carousel-inner">
	        	{% for recipe in toprated %}
	        		{% if forloop.first %}
	        			<div class="item active">
							<div class="item-text orange-container">{{recipe.name}}<br>Rating: {{recipe.rating}}<span><a href="{% url 'sweetbook:chosen_recipe' recipe.recipe_slug %}">Go to the recipe</a></span></div>
							<img class="item-image" src="{{MEDIA_URL}}{{recipe.picture}}" alt="{{recipe.name}}" onerror="this.onerror=null;this.src='{% static 'images/default.jpg' %}';">
						</div>
					{% else %}
						<div class="item">
							<div class="item-text orange-container">{{recipe.name}}<br>Rating: {{recipe.rating}}<span><a href="{% url 'sweetbook:chosen_recipe' recipe.recipe_slug %}">Go to the recipe</a></span></div>
							<img class="item-image" src="{{MEDIA_URL}}{{recipe.picture}}" alt="{{recipe.name}}" onerror="this.onerror=null;this.src='{% static 'images/default.jpg' %}';">
						</div>
	        		{% endif %}
				{% endfor %} 
	        </div> 

	        <!-- Carousel controls -->
	        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	        </a>
	        <a class="carousel-control right" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	        </a>
        {% else %}
			<div class="center"> No top-rated recipes to be shown.</div>
		{% endif %}
    </div>

	<!--Recipe of the day-->
	<div id="recipeofday">
		<div id="header-recipe" class="orange-container">Recipe of the Day</div>
		<div id="container-recipe" class="orange-container hundred-width">
			{% if recipeofday %}
				<img class="black-container" src="{{MEDIA_URL}}{{recipeofday.picture}}" alt="{{recipeofday.name}}" onerror="this.onerror=null;this.src='{% static 'images/default.jpg' %}';">
				<p class="black-container"><b>{{recipeofday.name}}</b><br/>{{recipeofday.description | truncatechars:220}}<a href="{% url 'sweetbook:chosen_recipe' recipeofday.recipe_slug %}">See more</a></p>
			{% else %}
				<p class="center">No recipe of the day.</p>
			{% endif %}
		</div>
	</div>

	<!--Latest events-->
	<div id="latestevents">
		<div id="header-event" class="orange-container">Latest Events</div>
		<div id="container-event" class="orange-container hundred-width">
			{% if latestevents %}
				<ul>
				{%for event in latestevents %}
					<li>{{event.name}} - <a href="{% url 'sweetbook:chosen_event' event.event_slug %}">See more</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p class="center">No latest events to be shown.</p>
			{% endif %}
		</div>
	</div>
		<img id="characters" src="{% static 'images/characters.png' %}" alt="Cartoon bakers">

	</div>

{% endblock %}

{% block script_block %}
	<!--scripts taken from page defined above to create slideshow-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %} 