{% extends 'sweetbook/myaccount.html' %}
{% load staticfiles %}

{% block child_style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/mybakebook.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/myevents.css' %}">
{% endblock %}

<!--title-->
{% block title_block %}
	My Events
{% endblock %}

{% block content_block %}
	{% if myevents %}
		<div id="main-box">
		{% for event in myevents %}
			<div class="container black-container">
				<!--event picture-->
				<img src="{% static 'images/' %}{{event.event_slug}}.jpg" class="googleMap black-container" alt="Map of Event" />
				<!--event description-->
				<p class="content">
					<span class="content-header">{{event.name}}</span><br><br>
					Date: {{event.date}} <br>
					Place: {{event.place}} <br>
					Postcode: {{event.postcode}} <br>
					<img class="girl-image" src="{% static 'images/girl.jpg' %}">
					<a href="{% url 'sweetbook:chosen_event' event.event_slug %}">Go to event</a>
				</p>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<div class="center">No saved events in My Calendar.</div>
	{% endif %}
{% endblock %}