{% extends "sweetbook/base.html" %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/registration2.css' %}">
{% endblock %}

<!--title-->
{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<!--header-->
	<div id="login-header" class="orange-container">Register Here - Step 2</div>

	<div id="main" class="orange-container">
		<div id="left">
			<!--form for details-->
			<form method="post" action="." enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in form %}
					{{ field.errors }}
					<b>{{ field.label_tag }}</b> {{ field }}<br><br>
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				{% endfor %}
				<input type="submit" value="Submit"/>
			</form>
		</div>
		<img src="{% static 'images/boy.jpg' %}">
	</div>
	
{% endblock %}