{% extends 'sweetbook/base.html' %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}">
{% endblock %}

<!--title-->
{% block title_block %}
	Recipes
{% endblock %}

{% block body_block %}
	{% if recipes %}
		{% for recipe in recipes %}
			<!--main container holding one recipe-->
			<div class="container orange-container hundred-width">
				<img class="image black-container" src="{{MEDIA_URL}}{{recipe.picture}}" alt="{{recipe.name}}" onerror="this.onerror=null;this.src='{% static 'images/default.jpg' %}';">
				<!--recipe description-->
				<p class="content">
					<span class="content-header">{{recipe.name}}</span><br><br>
					<img class="girl-image" src="{% static 'images/girl.jpg' %}">
					<b>Rating: </b>{{recipe.rating}}<br>
					<b>Difficulty: </b>{{recipe.difficulty}}<br>
					<b>Cooktime: </b>{{recipe.cooktime}} minutes<br><br>
					<b>Ingredients: </b><br>{{recipe.ingredients}}<br><br>
					<a href="{% url 'sweetbook:chosen_recipe' recipe.recipe_slug %}">See more</a>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<div id="no-recipes" class="orange-container hundred-width center">No recipes to be shown.</div>
	{% endif %}
{% endblock %}