{% extends 'sweetbook/base.html' %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}">
{% endblock %}

{% block body_block %}
	{% if recipes %}
		{% for recipe in recipes %}
			<div class="container">
				<img class="image" src="{{MEDIA_URL}}{{recipe.picture}}" alt="{{recipe.name}}" onerror="this.onerror=null;this.src='{% static 'images/default.jpg' %}';">
				<p class="content">
					<span class="content-header">{{recipe.name}}</span><br><br>
					<img class="girl-image" src="{% static 'images/girl.jpg' %}">
					<b>Rating: </b>{{recipe.rating}}<br>
					<b>Difficulty: </b>{{recipe.difficulty}}<br>
					<b>Cooktime: </b>{{recipe.cooktime}}<br><br>
					<b>Ingredients: </b><br>{{recipe.ingredients}}<br><br>
					<b>Description: </b>{{recipe.description | truncatechars:220}} <a href="{% url 'sweetbook:chosen_recipe' recipe.recipe_slug %}">See more</a>
				</p>
			</div>
		{% endfor %}
	{% else %}
		<div id="no-events">No recipes to be shown.</div>
	{% endif %}
{% endblock %}