body{
	background-color: #ffb580;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
}

button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #fcff61;
	cursor: pointer;
}

#logo{
	height: 20%;
	width: 20%;
}

#topbar{
	clear: both;
	position: relative;
}

#topbarright{
	clear: both;
	float: right;
	position: absolute;
	right: 1%;
	top: 5%;
}

#topbar button{
	height:100%;
	width:70px;
	font-size: 80%;

}

#menu{
	clear: both;
}

#menu button{
	float: left;
	width: 25%;
	height: 100%;
	font-size: 110%;
	text-align: center;
}

#or{
	font-size: 110%;
	margin: 10px;
}

#rights{
	float: right;
	bottom: 1px;
	margin-right: 20px;
	clear:right;
	font-size: 80%;
}

