#main-box{
	clear: both;
	height: 450px;
}

/*image*/
#main-box img{
	float: left;
	max-height: 86%;
	max-width: 52%;
	margin: 2%;
}

/*text box*/
#main-box div{
	float: right;
	max-width: 35%;
	max-height: 76%;
	margin: 2%;
	padding: 2%;
}

@media screen and (max-width: 830px){
	#main-box{
		position: relative;
		height: 780px;
		margin-top: 9%;
	}

	#main-box img{
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: 90%;
	}

	#main-box div{
		position: absolute;
		bottom: 0px;
		left: 0px;
		max-width: 90%;
		max-height: 32%;
	}
}

@media screen and (max-width: 750px){
	#main-box{
		height: 720px;
	}

	#main-box div{
		max-height: 40%;
	}
}

@media screen and (max-width: 720px){
	#main-box{
		height: 700px;
	}
}

@media screen and (max-width: 680px){
	#main-box{
		height: 650px;
	}
}

@media screen and (max-width: 600px){
	#main-box{
		height: 620px;
	}

	#main-box div{
		max-height: 45%;
	}
}

@media screen and (max-width: 550px){
	#main-box{
		height: 580px;
	}
}

@media screen and (max-width: 500px){
	#main-box div{
		max-height: 50%;
	}
}
