.container{
	border: 2px solid #ffc000;	
	background-color: white;
	width: 100%;
	height: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

.googleMap{
	float: left;
	border: 2px solid #000;
	margin: 2%;
	margin-left: 3%;
	width: 32%;
	height: 78%;
}

.content{
	margin: 3%;
	float: right;
	font-size: 110%;
	width: 55%;
}

.content-header{
	font-size: 150%;
}

.cooks-image{
	width: 25%;
	height: 25%;
	float: right;
	right: 20%;
}

#no-events{
	border: 2px solid #ffc000;	
	background-color: white;
	width: 100%;
	height: auto;
	margin-top: 3%;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	font-size: 110%;
}