div{
	clear: both;
}

/*title*/
#login-header{
	width: 180px;
	margin-top: 50px;
	font-size: 110%;
	padding-left: 2%;
}

/*man box*/
#main{
	height: 350px;
	padding: 3%;
}

#left{
	float: left;
}

#main img{
	float: right;
	width: auto;
	max-height: 100%;
}

@media screen and (max-width: 925px){
	#main{
		height: 300px;
	}

	#main img{
		max-height: 90%;
		max-width: 50%;
	}
}

@media screen and (max-width: 800px){
	#main{
		height: 250px;
	}
}

@media screen and (max-width: 700px){
	#main{
		position: relative;
		height: 500px;
	}

	#main img{
		position: absolute;
		bottom: 3%;
		left: 3%;
		max-height: 40%;
		max-width: 90%;
	}
}