{% extends "sweetbook/base.html" %}
{% load staticfiles %}

{% block style_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}">
{% endblock %}

<!--title-->
{% block title_block %}
	Log out
{% endblock %}

{% block body_block %}
	<div id="login-header" class="orange-container">Log out</div>
	<div id="main" class="orange-container">
		<div id="left">
			You are now logged out!
		</div>
		<img src="{% static 'images/default.jpg' %}">
	</div>
{% endblock %}